* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.row {
    width: 1140px;
    background-color: red;
    margin: 0 auto;
}